<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{ pageTitle }}</title>
	</head>
	<body>
		{{> header }}
		<p>Project: </p>
		<p>Immott</p>
		<p>Limmo</p>
		
		{{> footer}}
	</body>
</html>
